.about {
  margin: 4rem 0 2rem;
  padding: 2rem;
  background-color: #1b1b1b;
  border-radius: 12px;
  animation: fadeIn 1s ease-in-out;
}

.about h3 {
  color: var(--color-primary);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.05rem;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 1rem;
}
